.category-image, .product-image{
    width:150px;
}
.checkout-form label{
    font-size:15px;
    font-weight:700;
}

.checkout-form input{
    font-size:14px;
    padding: 10px;
    font-weight:400;
}
